html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#out {
  width: 100%;
  height: 100%;
  background: green;
  position: relative;
}

.inner {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 3s;
}
